.backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    visibility: hidden;
    opacity: 0;
    i {
        color: $color-white-0;
        width: 40px;
        height: 40px;
        font-size: 2rem;
        text-align: center;
        line-height: $line-height-5 - 5;
        background-color: $color-black-8;
        transition: all 0.3s;
        font-size: $fs-0 + 1;
    }
    &:hover i{
        background-color: $color-yellow-0;
        color: $color-black-9;
    }
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
